#logs
*.log
log.txt

#Sources in build
./build/*.f90

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#documents
/doc/html/*
/doc/src/*
/doc/src

#Makes e status
build/Make_utils
build/Makefile
build/config.status


